<div class="apresentacao">
  <h2><strong>Bem-vindo à Janela de Transferência</strong></h2>
  <h4><strong>Monte o seu time dos sonhos com os melhores jogadores de todos os tempos!</strong></h5>
  <br>
  <h5><strong>⭐Confira os jogadores mais valorizados⭐</strong></h4>
</div>
<br>
<% @players.each do |player| %>
  <div class="card-product">
     <% if player.image_url.nil? %>
        <%=  player.photo.attached? ? (cl_image_tag player.photo.key, crop: :thumb, gravity: :face) : image_tag("player.png") %>
      <% else %>
        <%= image_tag(player.image_url, crop: :fill) %>
      <% end %>
    <div class="card-product-infos">
    <% if user_signed_in? %>
      <h2><%= link_to player_path(player) do %><%= player.name %><% end %></h2>
    <% else %>
      <h2><%= link_to new_user_registration_path do %><%= player.name %><% end %></h2>
    <% end %>
      <p><%= player.position %>. Idade: <%= player.age.round %> anos. <strong>R$ <%= number_to_human(player.price) %></strong>. Classificação <%= '⭐' * 5 %></p>
    </div>
  </div>
  <br>
<% end %>
