<div class="apresentacao">
  <h2><strong>Bem-vindo à Janela de Transferência</strong></h2>
  <h4><strong>Monte o seu time dos sonhos com os melhores jogadores de todos os tempos!</strong></h5>
  <br>
  <h5><strong>⭐Confira os jogadores mais valorizados⭐</strong></h4>
</div>
<br>
<% @players.each do |player| %>
  <div class="card-product">
    <%=  player.photo.attached? ? (cl_image_tag player.photo.key, crop: :fill) : image_tag("player.png") %>
    <div class="card-product-infos">
      <h2><%= player.name %></h2>
      <p><%= player.position %>. Idade: <%= player.age.round %> anos. <strong>R$ <%= number_to_human(player.price) %></strong>. Classificação <%= '⭐' * 5 %></p>
    </div>
  </div>
  <br>
<% end %>
