<h1>Carrinho de Compras</h1>

<div class="col-lg-12" style="text-align: right;">
  <% if @deals.count > 0 %>
    <%= link_to "Finalizar compra", sale_path, method: "patch", class: 'btn btn-primary' %>
  <% end %>
</div>
<br>
<div class="container">
  <% if @deals.count > 0 %>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Jogador</th>
          <th>Posição</th>
          <th>Valor</th>
          <th >Ação</th>
        </tr>
      </thead>
      <tbody>
        <% soma = 0 %>
        <% @deals.each do |d| %>
          <tr>
            <td><%= d.player.name %></td>
            <td><%= d.player.position %></td>
            <td><%= number_to_human(d.player.price.to_i) %></td>
            <td>
              <%= link_to 'Excluir', deal_path(d), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Confirma exclusão?'}%>
            </td>
          </tr>
          <% soma += d.player.price %>
        <% end %>
        <tr><td><strong>Total (R$)</strong></td><td></td><td><strong><%= number_to_human(soma) %></strong></td></tr>
      </tbody>
    </table>
  <% else %>
    <h2>Seu carrinho está vazio!</h2>
    <div style="text-align: center;">
      <%= link_to "Comprar Jogador", players_path, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
