<h2>Lista de jogadores à venda</h2>
<p>Olá, <%= current_user.email %>! Selecione o jogador que deseja comprar:</p>

<%# Lista personalizada  %>

<%# Pg Search - Form %>
<div class="search-form row d-flex justify-content-center">
  <div class="form-inline">
  <%= form_tag players_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      style: "width: 300px",
      placeholder: "Filtre por nome ou posição..."
    %>
    <%= submit_tag "Busca", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
<div class="row justify-content-center cards-player">
  <% @players.each do |player| %>
    <div class="card-player justify-content-between">
      <%= link_to player_path(player) do %>
        <% if player.image_url.nil? %>
          <%=  player.photo.attached? ? (cl_image_tag player.photo.key, crop: :thumb, gravity: :face) : image_tag("player.png") %>
        <% else %>
          <%= image_tag(player.image_url, crop: :fill) %>
        <% end %>
      <% end %>
      <div class="card-player-infos justify-content-end text-end">
        <h3><%= link_to player_path(player) do %><%= player.name %><% end %></h2>
        <p>Idade: <%= player.age.to_i %></p>
            <p>Posição: <%= player.position %></p>
        <div class="align-self-end">
          <h3 class="card-trip-pricing">€ <%= number_to_human(player.price.to_i) %></h2>
          <%# Check if the user is a manager or normal user.  %>
          <% if current_user.manager == false %>
            <%# Check if the player has some deal %>
            <% if player.deals == [] %>
              <%= link_to 'Adicionar ao carrinho', player_deals_path(player, current_user), method: "post", class: "badge badge-success" %>
            <% else %>
              <% if player.deals.first.completed == false%>
                <span class="badge bg-warning text-dark">Adicionado ao carrinho</span>
              <% else %>
                <span class="badge bg-secondary">Esgotado</span>
              <% end %>
            <% end %>
          <% else %>
            <div class="d-flex">
              <% if player.deals == [] %>
              <%= link_to 'Editar jogador', edit_player_path(player), class: "badge bg-warning text-dark" %>
                <%= link_to 'Excluir jogador', player_path(player) , method: :delete, data: { confirm: "Deseja confirmar a exlusão?" }, class: "badge bg-danger text-white" %>
              <% else %>
                <span class="badge bg-secondary">Jogador comprado</span>
              <% end %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  <% end %>
</div>
