<h2>Jogadores à Venda</h2>

<%# Lista personalizada  %>

<div class="row justify-content-center">
  <% @players.each do |player| %>
    <div class="card-trip">
      <%=  player.photo.attached? ? (cl_image_tag player.photo.key, crop: :fill) : image_tag("player.png") %>
      <div class="card-trip-infos">
        <div>
          <h2><%= player.name %></h2>
          <p>Idade: <%= player.age.to_i %></p>
          <p>Posição: <%= player.position %></p>
        </div>
        <div class="align-self-end">
          <h2 class="card-trip-pricing">R$ <%= number_to_human(player.price.to_i) %></h2>
          <%= link_to 'Comprar', player_deals_path(player, current_user), method: "post", class: "badge badge-success" %>
      </div>
      </div>
    </div>
  <% end %>
</div>
