<!DOCTYPE html>
<html>
  <head>
    <title>JanelaDeTransferencia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%# NavBAR %>
    <%= render 'shared/navbar', class: "bg-light shadow" %>

    <%= render 'shared/banner', test: "Janela de Transferência", url: image_path('gramado.jpg') %>

    <div class="container">
      <%= yield %>
    </div>

    <%# Footer %>
    <%= render 'shared/footer' %>

  </body>
</html>
